#buttonContainer {
	/*padding-top: 5%;*/
	text-align: center;
	}

.mosaique{
	background-color: grey;
	text-align: center;
}

.mosaique2{
	text-align: center;
}

#frontAO {
 width: 100vw;
 height: 90vh;
 position: relative;
 margin: auto;
}

#background{
    width: 100%;         /* Same width as parent container */
    height: 100%;        /* Ditto height */
    position: absolute;  /* Take out of document flow. Default position 0,0 */
    z-index: -1;         /* Push it behind anything else in its container */
}

#background img {
    max-width: 100%;     /* Don't let it get wider than its container */
    max-height: 100%;    /* Nor taller */
    display: block;      /* Lets margins be set (otherwise in-line) */
    position: absolute:  /* Lets us position it */
    top: 0;              /* Put it at the top ... */
    left: 0;             /* on the far left ... */
    bottom: 0;           /* and at the bottom (makes sense later) */
    right: 0;            /* and the far right (ditto) */
    margin: auto;        /* Best compromise between left/right & top/bottom = centre */
}

#GO {
	position: absolute;
	top: 89%;
	left: 49%;
}