#reseauxSociaux a {
    color: white;
    font-size: 300%;
    margin:auto;
    margin-bottom : 1vh;
}

#youtube {
    height: 50vh;
}

#reseauxSociaux {
    text-align: center;
    display: flex;
}

#buttonContainer {
	/*padding-top: 5%;*/
	text-align: center;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
	}

.mosaique {
	text-align: center;
    color: rgba(255,255,255, 0.8);
}

#poème{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 90%;
}

#annonce {
    background-color: rgba(0, 0, 0, 0.5);

}

#poème h2 {
    text-align:center;
    color: rgba(255,255,255, 0.8);
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#mosaique2{
    flex: auto;
    margin-bottom: 2vh;
}

#frontAO {
 width: 100vw;
 height: 90vh;
 position: relative;
 margin: auto;
 margin-bottom: 2vh;
 margin-top: 3vh;
}

#background{
    width: 100%;         /* Same width as parent container */
    height: 100%;        /* Ditto height */
    position: absolute;  /* Take out of document flow. Default position 0,0 */
    z-index: -1;         /* Push it behind anything else in its container */
}

#background img {
    max-width: 100%;     /* Don't let it get wider than its container */
    max-height: 100%;    /* Nor taller */
    display: block;      /* Lets margins be set (otherwise in-line) */
    position: absolute:  /* Lets us position it */
    top: 0;              /* Put it at the top ... */
    left: 0;             /* on the far left ... */
    bottom: 0;           /* and at the bottom (makes sense later) */
    right: 0;            /* and the far right (ditto) */
    margin: auto;        /* Best compromise between left/right & top/bottom = centre */
}

#GO {
	position: absolute;
	top: 89%;
	left: 49%;
}

#wrapperVideo {
    height: 540px;
    width: auto;
}


