body {
	padding-top: 50px;
	background-image: url(../dependencies/images/AO-Back2.png);
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
}

@viewport {
   width: device-width;
}