#content{
	padding-top: 1%;
}

.mosaique{
	background-color: grey;
	text-align: center;
}

#carouselChantier {
  display: inline-block;
  width:380px;
  height:265px;
}

#buttonContainer {
	padding-top: 5%;
}