#content{
	padding-top: 1%;
}

.mosaique {
	text-align: center;
    color: rgba(255,255,255, 0.8);
    background-color: rgba(0,0,0, 0.5);
}

#carouselChantier {
  display: inline-block;
  text-align: center;
  width:380px;
  height:265px;
}
.relSize{
	width: 80%;
	
}
/*spacing of join button section*/
#buttonContainer {
	padding-top: 5%;
}