#content{
	padding-top: 1%;
}

.mosaique{
	background-color: grey;
	text-align: center;
}

#carouselChantier {
  display: inline-block;
  text-align: center;
  width:380px;
  height:265px;
}
.relSize{
	width: 80%;
	
}
/*spacing of join button section*/
#buttonContainer {
	padding-top: 5%;
}